<%= form_with model: link do |form| %>
  <div class="flex gap-2 item-center">
    <%= form.url_field :url, placeholder: "https://example.org", class: "flex-grow rounded", required: true %>
    <%= form.button "Save", class: "px-3 py-2 bg-gray-100 rounded" %>
  </div>
<% end %>
